@import controller.SearchController

@Main(title = "Catalog search") {
<div class="container">
    <h1>Biblioteka Raczynskich</h1>
    <p>
    <input id="inputText" type="text" name="isbn" class="form-control" placeholder="ISBN or book name">
    <button id="searchIsbn" type="submit" class="btn btn-default">Search</button>
    </p>
    <p id="response"></p>
    <hr>
    <p id="history"></p>
    <script>
    $('#searchIsbn').click(function(){
        var req = new XMLHttpRequest();
        req.open('GET', '/search/?inputText=' + document.getElementById('inputText').value, true);
        req.onload = function(e) {
            document.getElementById('response').innerHTML = req.responseText;
            parseHistory();
            linksForBooks();
        }
        req.send(null);
    });
    function parseHistory() {
        var req = new XMLHttpRequest();
        req.open('GET', '/history', true);
        req.onload = function(e) {
            document.getElementById('history').innerHTML = req.responseText;
            linksForHistory();
        }
        req.send(null);
    }
    function linksForHistory() {
        var links = document.getElementById('links');
        if (links) {
            var history = links.getElementsByTagName('li');
            for (var i = 0; i < history.length; ++i) {
                history[i].onclick = function(e) {
                    document.getElementById('inputText').value = this.getElementsByTagName('a')[0].text;
                };
            }
        }
    }
    function linksForBooks() {
        var ul = document.getElementById('books');
        if (ul) {
            var books = ul.getElementsByTagName('li');
            for (var i = 0; i < books.length; ++i) {
                books[i].onclick = function(e) {
                    document.getElementById('inputText').value = this.getElementsByTagName('p')[0].textContent;
                }
            }
        }
    }
    parseHistory();
    </script>
</div>
}
